.ClientMapMainContainer{
    display: grid;
    grid-template-columns: 0.4fr 1.6fr;
    color: white;
}

.LocationFinderContainer{
    background: rgb(18, 17, 22);
}

.LocationFinder-Text{
    width: 80%;
    resize: "none"
}
.Car-Logo{
    width: 50%;
    height: 20%;
}

.Client-Search-Button{
    margin-top: 1rem;
    background-color: rgb(232, 248, 3);
    color: black;
    border: none;
    width: 6rem;
    height: 1.5rem;
}

.SearchingRide{
    margin-top: 4rem;
    margin-left: 6rem;
    display: flex;
  width: 3.5em;
  height: 3.5em;
  border: 3px solid transparent;
  border-top-color: #3cefff;
  border-bottom-color: #3cefff;
  border-radius: 50%;
  animation: spin 1.5s linear infinite;
}

.SearchingRide:before {
    content: '';
    display: block;
    margin: auto;
    width: 0.75em;
    height: 0.75em;
    border: 3px solid #3cefff;
    border-radius: 50%;
    animation: pulse 1s alternate ease-in-out infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  
  @keyframes pulse {
    from {
      transform: scale(0.5);
    }
    to {
      transform: scale(1);
    }
  }

